/* Колір фону хедера #FFFFFF */
/* Колір фону особливості #E5E5E5 */
/* Колір фону портфоліо #E5E5E5 */
/* Колір фону наша команда #F5F4FA */
/* Колір фону футера #2F303A */
/* Колір тексту (заголовки, навігація) #212121 */
/* Колір тексту (абзац, авторизація) #757575 */
/* Колір тексту футера rgba(255, 255, 255, 0,6) */
/* Колір фону основної кнопки #2196F3 */
/* Колір фону додаткової кнопки #F5F4FA */

body {
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;

  background-color: #ffffff;
  color: #757575;
}

/* УТИЛИТИ */

/* .visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
} */

/* img {
  display: block;
  max-width: 100%;
  height: auto;
} */

.btn.primary {
  min-width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
  border: 1px solid transparent;
  border-radius: 4px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  letter-spacing: 0.06em;

  background-color: #2196f3;
  color: #ffffff;
}

/* Шапка сайту */

.logo-head {
  display: inline-block;
  padding-top: 24px;
  padding-bottom: 25px;
}

.link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: #212121;
  text-decoration: none;
}

.container-nav {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  width: 1200px;
}
.container {
  display: flex;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
}

.site-nav {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 93px;
}

.site-nav .item + .item {
  margin-left: 40px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.cont-nav .item + .item {
  margin-left: 50px;
}

.cont-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.cont-nav {
  display: flex;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.site-nav .link.current {
  color: #2196f3;
}

.site-nav .link:focus,
.site-nav .link:hover {
  color: #2196f3;
}

.cont-nav .link:focus,
.cont-nav .link:hover {
  color: #2196f3;
}

.list-nav {
  padding-left: 0;

  list-style: none;
}

.list-cont {
  list-style: none;

  padding-left: 0;
}

/* Герой */

.hero {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 94px;

  text-align: center;

  background-color: #2f303a;
}

.hero-title {
  width: 696px;

  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;

  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}

/* Основна частина */
/* Особливості. features-list */

.container-features {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 94px;
  width: 1200px;
}
.container-features .list-feat {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
}

/* АЛЬТЕРНАТИВА СПРАЙТУ */

/* .container-features .item::before {
  display: block;
  content: '';
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  background-position: center;
  background-repeat: no-repeat;
}

.icon-antena::before {
  background-image: url(../images/antenna\ 1.svg); */
}

.features .item {
  width: 270px;
}

.features .item + .item {
  margin-left: 30px;
}

.features-title {
  margin-top: 0;
  margin-bottom: 10px;

  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #212121;
}

.features-text {
  margin-top: 0;
  margin-bottom: 0;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.list-feat {
  padding-left: 15px;
  padding-right: 15px;

  list-style: none;
}

/* Переваги, чим ми займаємось  */

.container-work {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 158px;
  width: 1200px;
}

.container-work .list-work {
  display: flex;
}

.list-work .item + .item {
  margin-left: 30px;
}

.work-title {
  margin-top: 0;
  margin-bottom: 50px;
  padding-left: 15px;
  padding-right: 15px;

  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;

  color: #212121;
}

.list-work {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 15px;
  padding-right: 15px;

  list-style: none;
}
/* Наша команда */

.sec-command {
  background-color: #f5f4fa;
}

.container-command {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  padding-bottom: 94px;
  width: 1200px;
}

.command {
  margin-top: 0;
  padding-left: 15px;
  padding-right: 15px;

  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;

  color: #212121;
}

.container-command .list-com {
  display: flex;
}

.command-title {
  margin-top: 30px;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;

  color: #212121;
}

.command-text {
  margin-top: 0;
  margin-bottom: 30px;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.list-com {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 15px;
  padding-right: 15px;

  list-style: none;
}

.list-com .item {
  border-radius: 0px 0px 4px 4px;

  background-color: #ffffff;
}

.list-com .item + .item {
  margin-left: 30px;
}

/* Футер */

.logo-foot {
  display: inline-block;
  padding-top: 20px;
  padding-bottom: 25px;
}

.container-foot {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  width: 1200px;
}
.footer {
  padding-top: 90px;
  padding-bottom: 60px;

  background-color: #2f303a;
}

.footer .address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  color: #ffffff;
}

.footer .link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;

  color: rgba(255, 255, 255, 0.6);
}

.list-foot {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 15px;
  padding-right: 15px;

  list-style: none;
}

/* ??? Запитати,як забрати нижній маржин у посиланні-телефон ??? */

.list-foot :not(:last-child) {
  margin-bottom: 9px;
}

/* Чим ми займаємось (portfolio) */

.container-nav-port {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 132px;
  width: 1200px;
}

.container-but {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 50px;
  width: 1200px;
}

.port-but .link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
}

.port-but .item + .item {
  margin-left: 9px;
}

.item button {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  border: 1px solid transparent;
  border-radius: 4px;

  background-color: #f5f4fa;
}

.port-but .link:focus,
.port-but .link:hover {
  background-color: #2196f3;
  color: #ffffff;
}

.list-butt {
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 15px;
  padding-right: 15px;

  list-style: none;
}

/* Нашi роботи (portfolio) */

.container-port-work {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 94px;
  width: 1200px;
}

.port-work {
  display: flex;
  flex-wrap: wrap;
}

.port-work .item {
  margin-right: 30px;
  margin-bottom: 30px;
}

.port-work .item:nth-child(3n) {
  margin-right: 0;
}

.port-work .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

/* АЛЬТЕРНАТИВА */
/* calc((100% - кол-cmь маржинів в рядку * значення маржина) / кол-сть элементів в рядку */
/* width: calc((100% - 60px) / 3); */
/* margin-right: 30px; */
/* margin-bottom: 30px; */
/* + прописувати  */

.port-work .title {
  margin-top: 0;
  margin-bottom: 0;

  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: #212121;
}

.work-list {
  justify-content: center;
  margin-top: 0;
  padding-left: 15px;
  padding-right: 15px;

  list-style: none;
}

.port-work .text {
  margin-top: 0;
  margin-bottom: 0;

  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
